**
*

!.docker/requirements*.txt
!.docker/crontab
!gis
!firestarr/src
!firestarr/CMakeLists.txt
!firestarr/fuel.lut
!firestarr/bounds.geojson
!firestarr/scripts/*.sh
!firestarr/settings.ini
!./config
!src

**/__pycache__
