**
*

!.docker/requirements*.txt
!.docker/crontab
!gis
!**/src
!firestarr/CMakeLists.txt
!firestarr/fuel.lut
!firestarr/bounds.geojson
!firestarr/scripts/*.sh
!firestarr/settings.ini
!./config

**/src/py/**/*.sh
**/src/**/.git*
**/__pycache__
