services:
  firestarr-setup-gis:
    image: firestarr-setup-gis
    build:
      context: .
      target: firestarr-setup-gis
      dockerfile: .docker/Dockerfile
      args:
        USERNAME: ${USERNAME}
        USER_ID: ${USER_ID}
      tags:
        - firestarr-setup-gis:trixie-${VERSION}
    entrypoint: tail -f /dev/null
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs
      - type: bind
        source: ./config
        target: /appl/config
      - ./data:/appl/data:z
      - ./sims:/appl/data/sims:z
      - ./src/py:/appl/firestarr/src/py:z
      - type: bind
        source: ./gis
        target: /appl/gis
    env_file:
      - .env

  firestarr-app-dev:
    image: firestarr-app-dev
    build:
      context: .
      target: firestarr-app-dev
      dockerfile: .docker/Dockerfile
      args:
        VERSION: trixie-${VERSION}
        USERNAME: ${USERNAME}
        USER_ID: ${USER_ID}
      tags:
        - firestarr-app-dev:trixie-${VERSION}
    entrypoint: tail -f /dev/null
    security_opt:
      - seccomp:unconfined
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs
      - type: bind
        source: ./config
        target: /appl/config
      - ./data:/appl/data:z
      - ./sims:/appl/data/sims:z
      - ./src/py:/appl/firestarr/src/py:z
      - ./scripts:/appl/firestarr/scripts:z
      - ./firestarr/scripts:/appl/cppscripts:z
      - type: bind
        source: ./firestarr
        target: /appl/firestarr
      - type: bind
        source: ./bounds.geojson
        target: /appl/bounds.geojson
    restart: on-failure
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    env_file:
      - .env

  firestarr-app:
    image: firestarr-app
    build:
      context: .
      target: firestarr-app
      dockerfile: .docker/Dockerfile
      args:
        VERSION: trixie-${VERSION}
        USERNAME: ${USERNAME}
        USER_ID: ${USER_ID}
      tags:
        - firestarr-app:trixie-${VERSION}
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs
      - ./data:/appl/data:z
      - ./sims:/appl/data/sims:z
    env_file:
      - .env

  firestarr:
    image: firestarr
    build:
      context: .
      target: firestarr
      dockerfile: .docker/Dockerfile
      args:
        VERSION: trixie-${VERSION}
        USERNAME: ${USERNAME}
        USER_ID: ${USER_ID}
      tags:
        - firestarr:trixie-${VERSION}
    volumes:
      - type: bind
        source: ./firestarr/settings.ini
        target: /appl/firestarr/settings.ini
      - ./data:/appl/data:z
      - ./sims:/appl/data/sims:z
    env_file:
      - .env

  firestarr-dev:
    image: firestarr-dev
    build:
      context: .
      target: firestarr-dev
      dockerfile: .docker/Dockerfile
      args:
        VERSION: trixie-${VERSION}
        USERNAME: ${USERNAME}
        USER_ID: ${USER_ID}
      tags:
        - firestarr-dev:trixie-${VERSION}
    entrypoint: tail -f /dev/null
    security_opt:
      - seccomp:unconfined
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs
      - type: bind
        source: ./firestarr
        target: /appl/firestarr
      - ./data:/appl/data:z
      - ./sims:/appl/data/sims:z
    restart: always
    cap_add:
      - PERFMON
      - SYS_PTRACE
      - SYS_ADMIN
    env_file:
      - .env
